{% extends "layout.html" %}
{% block title %}Azure To-Do App deployed via actions{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <form action="add-todo" method="post">
    <label for="name">Enter new to-do: </label>
    <input type="text" name="title" required />
    <input type="submit" value="Save" />
  </form>

  <div class="row">
    <div class="col-md-12">
      <h2>To Do Items</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.todo_items %}
          <li>{{ item.name }} - {{ item.status }}</li>
          <form action="complete-item/{{item.id}}" method="post">
            <button>Complete</button>
          </form>
        {% endfor %}
      </ul>
      <h2>Doing items!</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.doing_items %}
          <li>{{ item.name }} - {{ item.status }}</li>
          <form action="complete-item/{{item.id}}" method="post">
            <button>Complete</button>
          </form>
        {% endfor %}
      </ul>
      <h2>Done Items</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.done_items %}
          <li>{{ item.name }} - {{ item.status }}</li>
          <form action="complete-item/{{item.id}}" method="post">
            <button>Archive</button>
          </form>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}